
/*Navigation Bar */
/* https://www.freecodecamp.org/news/how-to-easily-build-mashables-navigation-bar-with-html-and-css-9e5007af786/ */

nav {
  width: 100%;
  height: 45px;
  background-color: #0b98de;
  overflow: hidden;
  position: fixed;
}

nav a {
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  /* border: 1px solid #000; */
  padding-top: 10px;    padding-right: 10px;    padding-bottom: 10px;    padding-left: 10px;
  text-decoration: none
}

nav a:hover {
  background-color: #17b0cf;
}

#logo {
  font-family: sans-serif;
  font-size: 30px;
  letter-spacing -2px;
  text-shadow: 1px 1px 1px
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 10px;
  margin-top: 0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  color: white;
  background: gray;
}

/* The sidebar menu */
.sidenav {
 height: 100%; /* Full-height: remove this if you want "auto" height */
 width: 160px; /* Set the width of the sidebar */
 position: fixed; /* Fixed Sidebar (stay in place on scroll) */
 z-index: 1; /* Stay on top */
 top: 45px; /* Stay at the top */
 left: 0px;
 background-color: #8ED6FA; /*  */
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 16px;
 text-decoration: none;
 font-size: 15px;
 color: #111;
 display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 color: #f1f1f1;
}

/* Style page content */
.main {
 margin-left: 180px; /* Same as the width of the sidebar */
 padding-top: 40px
}

/* Style page content */
.noside {
 margin-left: 0; /* Same as the width of the sidebar */
 padding-top: 40px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

body {
}

h1.ex1, h2.ex1, h3.ex1 {
  font-family: "Verdana", Geneva, sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

p.ex1, ul.ex1 {
  font-family: "Verdana", Geneva, sans-serif;
  text-align: justify;
  text-justify: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #000;
  width: 600px;
}
